<!-- books/templates/books/add_book.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить книгу</title>
    <!-- Подключаем Bootstrap с CDN -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container my-5">
    <h1 class="mb-4">Добавить книгу</h1>

    <div class="card p-4">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary mt-3">Сохранить книгу</button>
        </form>
    </div>

    <div class="mt-4">
        <a href="{% url 'book_list' %}" class="btn btn-secondary">Вернуться к списку книг</a>
    </div>

    <!-- Подключаем JS Bootstrap и jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
